.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  width: 84%;
  margin: 0 auto;
  background-color: rgb(178, 237, 252);
}
h1 {
  text-align: center;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: #282c34;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
 
}

.imageSize1 {
  width: 200px;
  height: 200px;
  
}
.imageSize2 {
  width: 300px;
  height: 300px;
 
}
h5 {
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 15%;
  padding: 5px;
}
p{
  font-weight: bold;
}
span{
  font-size: 30px;
  color: red;
  margin-left: 20px;
  
}

.counter{
  width: 300px;
  height: 550px;
  padding: 5px;

}